.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body {
    font-family: 'Poppins', serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    text-align: center;
}
.container {
    margin: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.graybox {
    background-color: #111;
    border-radius: 15px;
    padding: 20px;
}

.title {
    font-size: larger;
    margin-bottom: 20px;
    color: white;
}
.spotify-button {
    display: inline-block;
    background-color: #1DB954;
    color: white;
    padding: 15px 15px;
    font-size: 18px;
    border-radius: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
}
.spotify-button:hover {
    background-color: #1ed760;
    transform: scale(1.05);
}
.spotify-button:active {
    background-color: #1aa34a;
}
.spotify-button img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.spotify-button span {
    margin-left: 45px;
    display: inline-block;
    vertical-align: middle;
}
.imagetimetodeep {
    width: 90%;
}
.description1 {
    font-size: medium;
}
.description2 {
    color: #fff0e6;
    font-size: small;
}
.sendyourmusiclabel{
    font-size: small;
    color: white;
    text-decoration: none; /* no underline */
}

.sendyourmusiclabel:hover {
    color: #FF532B;
    transform: scale(1.05);
}